{% extends 'base.html' %}
{% block content %}

<h1>Details</h1>


<h4>{{ event.name }}</h4>
<img src="https://s1.ticketm.net/dam/a/c96/5457b1ce-bffb-49ed-b9c0-b864bb2d3c96_1502511_EVENT_DETAIL_PAGE_16_9.jpg">
<br>
<br>
<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <h6>Date and Time Info</h6>
            <br>
            <p>Date: {{ event.dates.start.localDate }}</p>
            <p>Time: {{ event.dates.start.localTime }}</p>
            <p>Time Zone: {{ event.dates.timezone }}</p>
            <p>Ticket Status: {{ event.dates.status }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <h6>Price Range</h6>
            <br>
            <p>Type: {{ event.priceRanges.type }}</p>
            <p>Currency: {{ event.priceRanges.currency }}</p>
            <p>Min ticket price: {{ event.priceRanges.min }}</p>
            <p>Max ticket price: {{ event.priceRanges.max }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
        <h6>Event Info</h6>
        <p>{{ event.info }}</p>
        <br>
        <h6>Please Note</h6>
        <p>{{ event.pleaseNote }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <h6>Genre and SubGenre Info</h6>
            <br>
            <p>Name:{{ event.classifications.segment.name }}</p>
            <p>Genre:{{ event.classifications.genre.name }}</p>
            <p>SubGenre:{{ event.classifications.subGenre.name }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <h6>Ticket Limit and Health Check Info</h6>
            <br>
            <p> ticket limit: {{ event.accessibility.ticketLimit }}</p>
            <p> Summary: {{ event.ticketing.healthcheck.summary }}</p>
            <p> Description: {{ event.ticketing.healthcheck.description }}</p>
            <p> Learn more: {{ event.ticketing.healthcheck.learnMoreUrl }}</p>
        </div>
    </div>
</div>













{% endblock %}