{% extends 'base.html' %}
{% load tags %}
{% block content %}

<h1>Details</h1>


<h4>{{ event.name }}</h4>
<p hidden>{event.images|dictsort:'width'}</p>

<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <h5>Date and Time Info</h5>
                <br>
                <p>Date: {{ event.dates.start.localDate }}</p>
                <p>Time: {{ event.dates.start.localTime }}</p>
                <p>Time Zone: {{ event.dates.timezone }}</p>
                <p>Ticket Status: {{ event.dates.status.code }}</p>
            </div>       
            <div class="card-action">
            {% if in_user_events %}
            <form action="{% url 'remove_event' event.id %}" method='POST'>
                {% csrf_token %}
                <button width='100%' class="btn center-align">Remove From Saved Events</button>
            </form>
            {% else %}
            <form action="{% url 'add_event' event.id %}" method='POST'>
                {% csrf_token %}
                <button width='100%' class="btn center-align">Add To Saved Events</button>
            </form>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="col s8">
        <img class="responsive-img" src="{{event.images.0.url}}">
    </div>
</div>



<div class="row">

    {% if event.info %}
    <div class="col s12">
        
        <div class="card">
            <div class="card-content">
                {% if event.info %}
                <h3>Event Info</h3>
                <p>{{ event.info }}</p>
                {% endif %}
                <br>
                {% if event.pleaseNote %}
                <h5>Please Note</h5>
                <p>{{ event.pleaseNote }}</p>
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5>Who's Going</h5>
                <ul>
                {% for a in attendees %}
                        <li><p>{{ a.user }}</p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>    
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5>Genre and SubGenre Info</h5>
                <br>
                <p>Name: {{ event.classifications.0.segment.name }}</p>
                <p>Genre: {{ event.classifications.0.genre.name }}</p>
                <p>SubGenre: {{ event.classifications.0.subGenre.name }}</p>
            </div>
        </div>
    </div>

    {% if event.accessibility.ticketLimit %}
    <div class="col s12">
        
        <div class="card">
            <div class="card-content">
                
                <h5>Ticket Limit</h5>
                <p>Ticket Limit: {{ event.accessibility.ticketLimit }}</p>
                {% endif %}
                {% if event.ticketing.healthCheck.summary or event.ticketing.healthCheck.description %}
                <h5>Summary and Description of Event</h5>
                <p> Summary: {{ event.ticketing.healthCheck.summary }}</p>
                <p> Description: {{ event.ticketing.healthCheck.description }}</p>
                {% endif %}

            </div>
        </div>
    </div>


    <div class="col s12">
        <div class="card">
            <div class="card-content">
                {% with embedded=event|getkey:'_embedded' %}
                <h5>Box Office Info</h5>
                <p>Open Hours: {{ embedded.venues.0.boxOfficeInfo.openHoursDetail }}</p> 
                <p>Will Call Details: {{ embedded.venues.0.boxOfficeInfo.willCallDetail }}</p>              
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                {% with embedded=event|getkey:'_embedded' %}
                <h5>Parking Details</h5>
                <p>{{ embedded.venues.0.parkingDetail }}</p>              
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                {% with embedded=event|getkey:'_embedded' %}
                <h5>General Info</h5>
                <p>{{ embedded.venues.0.generalInfo.generalRule }}</p>
                <br>   
                <h5>Rules for Children</h5>
                <p>{{ embedded.venues.0.generalInfo.childRule }}</p>            
                {% endwith %}
            </div>
        </div>
    </div>
</div>



<hr />
<br>
<div class="col s12">
    <label>Comments:</label>

      {% if in_user_events %}

    <form action="{% url 'add_comment' event.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
    </form>
    {% else %}
        <h5>Please Add Event To Your List To Comment</h5>
    {% endif %}

</div>
<div class="row">
        {% for comment in comments %}
        <div class="col s10">
            <p>{{comment.user}} commented on {{comment.created_date}}</p>
            <p>{{comment.content}} </p>
        </div>

        {% if comment.user.id == userprofile %}
        <div class="col s2">
            <form action="{% url 'delete_comment' comment.id event.id  %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn" value="delete">
            </form>
        </div>
        {% endif %}

        {% endfor %}
</div>
{% endblock %}