{% extends 'base.html' %}
{% block content %}

<h1>Details</h1>


<h4>{{ event.name }}</h4>
<div class="row">
    <div class="col s12">
        <img class="responsive-img" src="{{ event.images.3.url }}">
    </div>

<br>
{% if event.id in user_events %}
<form action='' method='POST'>
    {% csrf_token %}
    <button class="btn">Remove From Saved Events</button>
</form>
{% else %}
<form action="{% url 'add_event' event.id %}" method='POST'>
    {% csrf_token %}
    <button class="btn">Add To Saved Events</button>
</form>
{% endif %}
<br>
<br>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h6>Event Info</h6>
                <p>{{ event.info }}</p>
                <br>
                <h6>Please Note</h6>
                <p>{{ event.pleaseNote }}</p>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h6>Date and Time Info</h6>
                <br>
                <p>Date: {{ event.dates.start.localDate }}</p>
                <p>Time: {{ event.dates.start.localTime }}</p>
                <p>Time Zone: {{ event.dates.timezone }}</p>
                <p>Ticket Status: {{ event.dates.status.code }}</p>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h6>Genre and SubGenre Info</h6>
                <br>
                <p>Name: {{ event.classifications.0.segment.name }}</p>
                <p>Genre: {{ event.classifications.0.genre.name }}</p>
                <p>SubGenre: {{ event.classifications.0.subGenre.name }}</p>
            </div>
        </div>
    </div>


    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h6>Ticket Limit and Health Check Info</h6>
                <br>
                <p> ticket limit: {{ event.accessibility.ticketLimit }}</p>
                <p> Summary: {{ event.ticketing.healthCheck.summary }}</p>
                <p> Description: {{ event.ticketing.healthCheck.description }}</p>
            </div>
        </div>
    </div>
</div>

<hr />
<label>Comments:</label>
<br>
<textarea name="content"></textarea>
<input type="submit" value="Add Comment" />


{% endblock %}