{% extends 'base.html' %}
{% load tags %}

{% block content %}

<h1 class='center-align'>Your Events</h1>


{% if events %}

{% for event in events %}
<div class="card">
    <a href="/events/{{ event.id }}/">
    <div class="card-content row">
        <h5 id="titlepanel">{{ event.name }}</h5>
        <div class="col s3">            
            <p id="datepanel">{{ event.dates.start.localDate }} {{ event.dates.start.localTime }}</p>
            {% if event.dates.timezone %}
            <p>Timezone: {{event.dates.timezone}}</p>
            {% endif %}                
            {% if event.promoter.name %}
            <p> Brought to you by: {{ event.promoter.name }}</p>
            {% endif %}                
        </div>
        <div class="col s3">
            <br>
            {% with embedded=event|getkey:'_embedded' %}
            <p> Address:</p>
            <p> {{embedded.venues.0.name}}</p>
            <p> {{embedded.venues.0.address.line1}}</p>
            <p> {{embedded.venues.0.city.name}}, {{embedded.venues.0.state.stateCode}} {{embedded.venues.0.postalCode}}</p>

            {% endwith %}      
        </div>
        <div class="col s6">
            <img src="{{ event.images.0.url }}" height='200' width='auto' align='right'>
        </div>
        </div>
    </a>
</div>

{% endfor %}
    
{% else %}

<h3 class='center-align'>You have no events in your list.</h3>
<h3 class='center-align'>Please <a href="{% url 'search' %}">search</a> for an event to attend.</h3>
    
{% endif %}
    




{% endblock %}
