{% extends 'base.html' %}

{% block content %}
<h1>Search</h1>
<div class="row">
    <form action="" method="POST">
    <div class="col s5">
            {% csrf_token %}
            <select id="id_city" name='city' required>
                {% if city and state %}
                <option value="{{ city }}, {{ state }}" hidden>{{ city }}, {{ state }}</option>
                {% else %}
                <option value=" , " selected hidden>Select a City</option>    
                {% endif %}
                <option value="Los Angeles, CA">Los Angeles, CA</option>
                <option value="San Francisco, CA">San Francisco, CA</option>
                <option value="Seattle, WA">Seattle, WA</option>
                <option value="Boston, MA">Boston, MA</option>
                <option value="Chicago, IL">Chicago, IL</option>
                <option value="New York, NY">New York, NY</option>
                <option value="Miami, FL">Miami, FL</option>
                <option value="Austin, TX">Austin, TX</option>
            </select>
    </div>
    <div class="col s5">
        <select id="id_segment" name="segment">
            <option value="-" selected hidden>Select an Event Type</option>
            <option value="-">All</option>
            <option value="KZFzniwnSyZfZ7v7nE-Sports">Sports</option>
            <option value="KZFzniwnSyZfZ7v7nJ-Music">Music</option>
            <option value="KZFzniwnSyZfZ7v7na-Arts & Theatre">Arts & Theatre</option>
            <option value="KZFzniwnSyZfZ7v7nn-Film">Film</option>
        </select>
    </div>
    <div class="col s2">
        <input type="submit" class="btn" value="search">
    </div>
</form>
</div>
{% if events %}
<h4>Upcoming {{ type }} Events in {{ city }}:</h4>
<div class="search-container">
{% for event in events %}
<div class="row">
    <div class="row">
    <div class="col s9">
        <div class="card">
            <a href="/events/{{ event.id }}/">
            <div class="card-image" id="search-results">
                <p hidden>{{event.images|dictsort:'width'}}</p>                    
                <img src="{{ event.images.0.url }}" height='auto' width='auto'>
                <span class="card-title">
                    {{ event.name }} | {{ event.dates.start.localDate }}
                </span>
            </div>
            </a>
        </div>
    </div>
    </div>
</div>
{% endfor %}
</div>
{% else %}
<h4 class="center-align">{{ city }}</h4>
<h4 class="center-align">Please select a city above</h4>
{% endif %}

<!--JS to init dropdown for search-->
<script>
      var selectEl = document.getElementById('id_city');
      var secondEl = document.getElementById('id_segment')
    
  M.FormSelect.init(selectEl)
  M.FormSelect.init(secondEl);
  
</script>
{% endblock %}