{% extends 'base.html' %}

{% block content %}
    <h1>SEARCH</h1>
    <div class="row">
        <div class="col s8">
            <form action="{% url 'search_results' %}" method="POST">
                {% csrf_token %}
                <select class="browser-default" name='city'>
                    <option value="Los Angeles">Los Angeles, CA</option>
                    <option value="San Francisco">San Francisco, CA</option>
                    <option value="Seattle">Seattle, WA</option>
                    <option value="Boston">Boston, MA</option>
                    <option value="Chicago">Chicago, IL</option>
                    <option value="New York">New York NY</option>
                    <option value="Miami">Miami, FL</option>
                    <option value="Austin">Austin, TX</option>
                </select>
            </div>
            <div class="col s4">
                <input type="submit" value="search">
            </form>
            </div>
    </div>
{% endblock %}
    