body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ededed;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #61C0BF;
  }
  nav {
      background-color: #61C0BF;
      height: 100px;
  }
  .navbar-fixed {
      height: 100px;
  }
  .right {
      top: 80px;
  }
  h1 {
      font-family: 'Rock Salt', cursive;
  }
  h3, h4 {
      font-family: 'Nothing You Could Do', cursive;
  }
  h5 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5rem; 
  }
  #titlepanel{
      color: #046582;
      font-weight: 900;
  }
  h6 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5rem;
}
 p {
     font-size: 1.3rem;
     color: black;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #datepanel {
     color: #6d9886;
 }
  .btn {
      background-color: #444444;
  }

  .btn:hover {
      background-color: orange;
  }
  .dropdown-content li>span {
      color: orange;
  }
  #search-results:hover {
      opacity: 0.7;
      transition: .3s ease-in-out;
  }
 .search-container {
     display: grid;
     justify-content: center;
     grid-template-columns: 50% 50%;
 }
.testing {
    display: inline-flex;
}
#home-img {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80%;
    margin-top: 20px;
}
#homeee {
    color: white;
}
label[for="id_content"] {
    display: none;
    position: relative;
}

#id_content {
    background-color: white;
}